//======================================================BOUTTONS=====================================//
.btn {
  position: relative;
  display: inline-block;

  .cercle {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    padding-top: 0.3em;
    text-align: center;
  }

  span {
    padding-top: 0.4em;
    font-size: 24px;
  }

  .boutton {
    position: relative;
    bottom: 3rem;
    left: 2.6rem;
    height: 40px;
    width: 100px;
    border: none;
    text-transform: uppercase;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    transition: transform .5s ease-in-out;
  }

  &:hover {
    .boutton {
      transform: translate(2rem);
    }
  }
}