//HEADER_ADMIN

.header-admin {
  background-color: $vert-foret;
  height: 3rem;
  width: 100%;

  .titre {
    color: $blanc;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      text-transform: uppercase;
      font-family: "itc-avant-garde-gothic-pro", sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 1.5rem;
      padding-right: 8em;

    }
  }
}