//====================================MENU NOURRITURE===========================//

section.menu {

  font-family: 'Poppins', sans-serif;

  .background-image {
    height: 300px;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      overflow: hidden;
      object-fit: cover;
      object-position: 60% top;
    }
  }

  h2,
  h3,
  h4 {
    text-transform: uppercase;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  h2 {
    padding-top: 1.5em;
    margin-left: 10rem;
  }

  h3 {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
  }

  h4 {
    padding-top: 2em;
    padding-bottom: 0.5em;
  }

  .spacer {
    height: 5rem;
  }

  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 10fr 1fr 0fr;
    grid-gap: 10px;

    /* Gap between grid items */
    border-top: solid $gris 1px;
    border-bottom: solid $gris 1px;

    .grid-item {
      background-color: $background;
      padding-top: 0.9em;
      height: 70px;
    }

    .grid-item.start {
      border-right: solid $gris 1px;
      padding-left: 2.5em;
      text-transform: uppercase;
      font-family: "itc-avant-garde-gothic-pro", sans-serif;
      font-weight: 300;
      font-style: normal;
    }

    .grid-item.middle {
      border-right: solid $gris 1px;
    }

    .grid-item.end {
      text-align: end;
      padding-top: 1em;
      width: 100px;
      border-right: none;

    }
  }
}